.todo {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.text {
  flex: 1 1 0%;
  margin-left: 0.5rem;
  color: var(--color-text);
}
.button {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  margin-right: 2%;
}
.input {
  width: 1.5rem;
  height: 1.5rem;
}