.layout{
  height: 10%;
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
}
.input{
  width: 80%;
  height: 60%;
  border: none;
  border-radius: 1rem;
}
input::placeholder {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.button {
  width: 20%;
  height: 60%;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: var(--color-bg);
  background-color: var(--color-accent);
}